html, body {
	margin: 0;
	padding: 0;
}
* {
	font-family: 'Audiowide', cursive;
}

body {
	background-color: #2E316B;
	color: #F4E8C1;
	overflow-x: hidden;
	text-align: center;
	font-size: 1.5em;
}
a {
	color: #0AA28A;
}

h1 {
	font-size: 7.5vmin;
}
h2 {
	font-weight: normal;
}

main {
	padding-top: 5vh;
	min-height: 85vh;
}

button {
	padding: 1em;
	font-size: 1em;
	cursor: pointer;
}

.red {
	color: #AB302E;
}
.green {
	color: #0A6131;
}
